<h2>Select a file to upload:</h2>
<div class="upload-container"><input id="file-picker" type="file" name="image"  (change)="onChange($event)"></div>
<div><input type="submit" value="Upload Image" (click)="uploadFile()"></div>
<p id="message">{{message}}</p>
