<div id="">

    <div id="dp-header">
        <div class="dp-logo">
            <a href="#" class="logo">
                <img src="assets/images/singtel_logo_coloured.png" alt="" class="logo-large">
            </a>
        </div>

        <div class="dp-login">
            <div class="d-flex justify-content-end align-items-center">
                <div class="d-inline cursor-pointer">
                    <span class="mr-2">Administrator</span>
                    <i class="fa fa-caret-down mr-2"></i>
                </div>
                <img src="assets/images/users/avatar-1.jpg" alt="user" class="rounded-circle dp-thumb-login cursor-pointer">
            </div>
        </div>

    </div>


    <div id="dp-body">
        <div class="row h-100">
            <div class="dp-body__sidebar col-lg-3">
                <div class="sidebar__title clearfix">
                    <span>
                        <span class="dp-slash">/</span>Blockchain data log
                    </span>
                    <span class="float-right">
                        <i class="fa fa-download sidebar__download-icon cursor-pointer"></i>
                    </span>
                </div>
                <div class="sidebar__body">

                    <div class="wrap-log-sensor-data">
                        <div class="single-sensor-data" *ngFor="let transaction of transactions">
                            <p class="side-bar__multiple-title mb-0">TxHash:</p>
                            <p class="index1">{{transaction.txHash}}</p>

                            <p class="name mb-0">{{transaction.type}} Id:</p>
                            <p class="index2">{{transaction.id}}</p>

                            <p class="time-stamp mb-0">TimeStamp: </p>
                            <p>{{transaction.timestamp | date:'yyyy-MM-dd HH:mm:ss'}}</p>

                            <p class="value mb-0">Value:</p>
                            <p class="mb-0">{{transaction.value}}</p>
                        </div>
                    </div>

                    <button type="button" class="btn dp-btn dp-btn-danger w-100 btn-action-log-sensor">Simulate activation of service</button>




                </div>
            </div>
            <div class="dp-body__main-content col-lg-9 ">
                <h3 class="main-content__title">
                    <span class="dp-slash">/</span>Data Source Management</h3>
                <div class="main-content__body">
                    <div id="fake-sensor-default-icon"></div>
                    <div id="fake-sensor-animation"></div>
                    <div id="main-svg">
                        <div id="dp-blockchain" class="h-100"></div>
                        <!--Modal common-->
                        <div id="js-modal-common" class="js-dp-modal-bg">
                            <div id="js-dp-modal-dialog-common" class="dp-modal-dialog">
                                <i class="fa fa-times dp-close-modal js-close-modal"></i>
                                <p class="dp-modal-dialog__title mb-0">Onboard Data Source</p>
                                <div class="dp-modal-dialog__body">
                                    <form id="form-modal-common" action="">

                                        <div class="row m-0 form-field">
                                            <div class="col-lg-4 p-0 field-title">Data source name</div>
                                            <div class="col-lg-8 p-0">
                                                <input class="w-100" type="text" placeholder="" #dataName>
                                            </div>
                                        </div>
                                        <div class="row m-0 form-field">
                                            <div class="col-lg-4 p-0 field-title">Data source type</div>
                                            <div class="col-lg-8 p-0">
                                                <p class="field-content mb-0" id="dataType"></p>
                                            </div>
                                        </div>
                                        <div class="row m-0 form-field">
                                            <div class="col-lg-4 p-0 field-title">Data source ID</div>
                                            <div class="col-lg-8 p-0">
                                                <p class="field-content mb-0" id="dataId"></p>
                                            </div>
                                        </div>
                                        <div class="row m-0 form-field">
                                            <div class="col-lg-4 p-0 field-title">Select configuration file</div>
                                            <div class="col-lg-8 p-0">
                                                <div class="row m-0">
                                                    <div class="col-lg-8 pl-0 pr-2">
                                                        <input class="w-100" type="text" placeholder="">
                                                    </div>
                                                    <div class="col-lg-4 pr-0 pl-2">
                                                        <label id="#File" class="custom-input-file"> Browse...
                                                            <input type="file" id="File" class="d-none">
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row m-0 form-field">
                                            <div class="col-lg-4 p-0 field-title">Data source ID</div>
                                            <div class="col-lg-8 p-0">
                                                <p class="field-content mb-0">
                                                    &lt;tag&gt; &lt;/tag&gt;
                                                </p>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                                <div class="dp-modal-dialog__footer">
                                    <button type="button" class="btn dp-btn dp-btn-primary ml-2 js-close-modal">Cancel</button>
                                    <button type="button" id="js-modal-save" class="btn dp-btn dp-btn-danger ml-2 ">Save</button>
                                </div>
                            </div>
                        </div>

                        <!--Modal detail-->
                        <div id="js-modal-detail" class="js-dp-modal-bg">
                            <div id="js-dp-modal-dialog-detail" class="dp-modal-dialog">
                                <i class="fa fa-times dp-close-modal js-close-modal-detail"></i>
                                <p class="dp-modal-dialog__title mb-0">Data Source Detail</p>
                                <div class="dp-modal-dialog__body pl-0 pr-0">
                                    <form id="form-modal-detail" action="">
                                        <div class="row mr-0 ml-0 mb-3">
                                            <div class="col-lg-4 pr-0 font-weight-bold field-title">
                                                Datasource name:
                                            </div>
                                            <div class="col-lg-8 pr-0 field-content">
                                                <p id="dataNameDetail"></p>
                                            </div>
                                        </div>

                                        <div class="row mr-0 ml-0 mb-3">
                                            <div class="col-lg-4 pr-0 font-weight-bold field-title">
                                                Datasource type:
                                            </div>
                                            <div class="col-lg-8 pr-0 field-content">
                                                <p id="dataTypeDetail"></p>
                                            </div>
                                        </div>

                                        <div class="row mr-0 ml-0 mb-3">
                                            <div class="col-lg-4 pr-0 font-weight-bold field-title">
                                                Datasource ID:
                                            </div>
                                            <div class="col-lg-8 pr-0 field-content">
                                                <p id="dataIdDetail"></p>
                                            </div>
                                        </div>

                                        <div class="row mr-0 ml-0 bg-danger pt-1 pb-1">
                                            <div class="col-lg-4 pr-0 text-white text-uppercase">
                                                plans
                                            </div>
                                            <div class="col-lg-8 pr-0 text-white text-uppercase">
                                                rates
                                            </div>
                                        </div>
                                        <div class="row mr-0 ml-0 pt-1 pb-1">
                                            <div class="col-lg-4 pr-0 font-weight-bold field-title">
                                                Free trial:
                                            </div>
                                            <div class="col-lg-8 pr-0 field-content">
                                                Free 1 weeks (Limit 200 calls)
                                            </div>
                                        </div>
                                        <div class="row mr-0 ml-0 pt-1 pb-1 bg-light-secondary">
                                            <div class="col-lg-4 pr-0 font-weight-bold field-title">
                                                Monthly:
                                            </div>
                                            <div class="col-lg-8 pr-0 field-content">
                                                $250/Month (Limit 1000 calls)
                                            </div>
                                        </div>
                                        <div class="row mr-0 ml-0 pt-1 pb-1">
                                            <div class="col-lg-4 pr-0 font-weight-bold field-title">
                                                Annually:
                                            </div>
                                            <div class="col-lg-8 pr-0 field-content">
                                                $2500/Year (Limit 20000 calls)
                                            </div>
                                        </div>


                                    </form>
                                </div>
                                <div class="dp-modal-dialog__footer">
                                    <button type="button" class="btn dp-btn dp-btn-primary ml-2 js-close-modal-detail">Close</button>
                                    <button type="button" id="btnDelete" class="btn dp-btn dp-btn-danger ml-2">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!--<div class="section-content-left">-->
<!--<div class="block-chain-log">-->
<!--<div class="page-title-box">-->
<!--<h4 class="page-title">Blockchain data log</h4>-->
<!--</div>-->

<!--<div class="show-log-item" #txList>-->
<!--<div *ngFor="let transaction of transactions.reverse()">-->
<!--<p>TxHash:</p>-->
<!--<p>{{transaction.blockHash}}</p>-->
<!--<p>Sensor Id:</p>-->
<!--<p>{{transaction.from}}</p>-->
<!--<p>TimeStamp: {{transaction.timestamp | date:'yyyy-MM-dd HH:mm:ss'}}</p>-->
<!--<p>Value: {{transaction.input}}</p>-->
<!--<p>&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->