@import "~font-awesome/css/font-awesome.css";

.cursor-pointer {
    cursor: pointer;
}
.bg-light-secondary {
    background-color: rgba(0,0,0,.1);
}

#dp-header {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    height: 70px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    align-items:center;
    box-shadow: 0 0 11px rgba(0,0,0,.19);
    border-top: 3px solid red;
}

.dp-logo, .dp-login {
    flex: 0 50%;
}

.dp-login .dp-thumb-login {
    width: 50px;
}

.logo-large {
    height: 50px;
}

#dp-body {
    height: 100vh;
    padding: 75px 50px 50px 50px;
    background-color: rgba(0,0,0,.09);
}
.dp-slash {
    color: #d70f0f;
    font-size: 30px;
    position: relative;
    left: 5px;
    top: 2px;
    font-weight: 500;
    margin-right: 9px;
}
.sidebar__title, .main-content__title {
    font-weight: 600;
    font-size: 21px;
    color: rgba(0,0,0,.5);
    height: 70px;
    line-height: 70px;
    margin: 0;
}
.sidebar__download-icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 27px;
    color: rgba(0,0,0,.4);
    padding-top: 3px;
}
.sidebar__download-icon:hover {
    color: rgba(0,0,0,.6);
}
/*==============DO NOT TOUCH ME==================*/

/*important for set height of element, that is child of nested child of div parent flex */
.dp-body__sidebar, .dp-body__main-content, .main-content__body {
    display: flex;
    flex-direction: column;
}

.sidebar__body {
    height: 100%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 9px rgba(0,0,0,.19);
    padding: 27px 11px;
    position: relative;
    max-height: calc(100vh - 75px - 70px - 50px); /*header height, sidebar__title height, dp-body padding bottom*/
}
.wrap-log-sensor-data {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: calc(100% - 60px);
}
.main-content__body {
    height: 100%;
}

/*___________________________*/
.main-content__body #fake-sensor-default-icon {
    height: 109px;
    margin-bottom: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 9px rgba(0,0,0,.19);
    /*don't shrink*/
    flex-shrink: 0;

}
.main-content__body #fake-sensor-animation {
    height: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 9px rgba(0,0,0,.19);
}

.main-content__body {
    position: relative;
}
#main-svg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
/*==================================================================================*/

.single-sensor-data {
    color: rgba(0,0,0,.5);
    font-size: 12px;
    padding: 11px 9px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.09);
    margin-bottom: 11px;
    cursor: pointer;
}
.single-sensor-data:hover {
    box-shadow: 0 0 2px 1.27px rgba(22, 151, 233, 0.9) inset;
}

.side-bar__multiple-title, .name, .time-stamp, .value {
    font-weight: bold;
    color: rgba(0,0,0,.7);
}

.single-sensor-data > * {
    word-wrap: break-word;
}

#fake-sensor-animation.highlight {
    box-shadow: 0 0 9px rgba(3, 144, 248, 0.7) !important;
}

/* ==== */

.node {
  cursor: pointer;
  /* stroke: white;
  stroke-width: 1.5px; */
}

.link {
  fill: none;
  stroke: #1A237E;
  stroke-width: 2px;
}
/*________dp-Modal________*/
.js-dp-modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background-color: rgba(0,0,0,.6);
  display: none;
  justify-content: center;
  align-items: center;
  transition: all 2s;
  transform: scale(0,0);
}
.dp-action-show-modal {
  display: flex !important;
  transform: scale(1,1);
}
.dp-modal-dialog {
  width: 550px;
  background-color: #fff;
  border-radius: 5px;
  padding: 30px 40px;
  position: relative;
}
.dp-close-modal {
  font-size: 20px;
  position: absolute;
  right: 27px;
  top: 20px;
  color: rgba(0,0,0,.2);
  font-weight: lighter;
  padding: 5px;
  cursor: pointer;
}
.dp-close-modal:hover {
    color: rgba(0,0,0,.27);
}
.dp-modal-dialog__title {
  font-size: 27px;
  color: rgba(0,0,0,.9);
  height: 50px;
}
.dp-modal-dialog__body {
  max-height: 400px;
  overflow-y: auto;
  padding: 27px 9px;
  border-bottom: 1px solid rgba(0,0,0,.2);
  font-size: 13px;
  color: rgba(0,0,0,.5);
}
.dp-modal-dialog__footer {
  padding: 11px 0 0 0;
  display: flex;
  justify-content: flex-end;
}
.dp-btn {
  min-width: 100px;
  border-radius: initial;
  font-weight: lighter;
}
.dp-btn-primary {
  box-shadow: 0 0 0 1px rgba(0,0,0,.3) inset;
}
.dp-btn-disable {
  background-color: rgba(0,0,0,.1);
  pointer-events: none;
}
.dp-btn-danger {
  color: #fff;
  background-color: rgba(204, 54, 54, 0.9);
}

.form-field {
  margin-bottom: 27px !important;
}
#form-modal-common .field-title {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: normal;
  color: rgba(0,0,0,.7);
}
#form-modal-common .field-content {
  word-wrap: break-word;
}
.custom-input-file {
  width: 100%;
    height: 100%;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,.1);
  font-weight: lighter;
  cursor: pointer;
  color: rgba(0,0,0,.6);
  box-shadow: 0 0 0 1px rgba(0,0,0,.3) inset;
}

.btn-action-log-sensor {
    height: 40px;
    margin-top: 27px;
}
#form-modal-detail .field-title {
    color: rgba(0,0,0,.7);

}
#form-modal-detail .field-content {
    color: rgba(0,0,0,.5);
    word-wrap: break-word;
}