<div class="accountbg"></div>
<div class="wrapper-page">
  <div class="display-table">
    <div class="display-table-cell">
      <diV class="container">
        <div class="row">
          <div class="col-md-3">
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <div class="text-center pt-3">
                  <div>
                    <h3>ACCOUNT LOGIN</h3>
                    <img src="/assets/images/users/avatar-3.jpg" alt="logo" height="100" style="border-radius: 50%;" />
                  </div>
                </div>
                <div class="px-3 pb-3">
                  <form class="form-horizontal m-t-20 mb-0" action="list-device.html">

                    <div class="form-group row">
                      <div class="col-12">
                        <input class="form-control" type="text" required="" placeholder="Username">
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-12">
                        <input class="form-control" type="password" required="" placeholder="Password">
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-12">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck1">
                          <label class="custom-control-label" for="customCheck1">Remember me</label>
                        </div>
                      </div>
                    </div>

                    <div class="form-group text-right row m-t-20">
                      <div class="col-12">
                        <button class="btn btn-primary btn-raised btn-block waves-effect waves-light"  type="submit" (click) = "singIn()">Log In</button>
                      </div>
                    </div>

                    <div class="form-group m-t-10 mb-0 row">
                      <div class="col-sm-7 m-t-20">
                        <a href="#" class="text-muted">
                          <i class="mdi mdi-lock"></i> Forgot your password ?</a>
                      </div>
                      <div class="col-sm-5 m-t-20">
                        <a href="#" class="text-muted">
                          <i class="mdi mdi-account-circle"></i> Create an account ?</a>
                      </div>
                    </div>
                  </form>
                </div>

              </div>
            </div>
          </div>

          <div class="col-md-3">
            
          </div>
        </div>
      </diV>
    </div>
  </div>
</div>