.accountbg {
  background: url("/assets/images/bg-login.jpg");
  position: absolute;
  height: 100%;
  width: 100%;
  background-position: center center;
  background-size: cover;
}

.form-group  input
   {    color: #495057;
}

.wrapper-page{
    padding: 100px !important;
}